.login_main {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.login_form--main {
  margin: 2px;
}

.link__wrapper {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.wrapper_login {
  border-radius: 0.5rem;
  background-color: var(--black-tints-400);
  padding: 108px 145px;
}

.login__header {
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white);
}

.login_form--section {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  height: 25rem;
  width: 42rem;
  border-radius: 2rem;
}