:root {
    --black: #000000 !important;
    --white: #FFFFFF !important;
    --primary-light: #F7F9FB !important;
    --primary-blue: #E3F5FF !important;
    --primary-purple: #E5ECF6 !important;
    --black-tints-500: #1C1C1C !important;
    --black-tints-400: #282828 !important;
    --black-tints-200: #333333 !important;
    --black-tints-100: #3B3B3B !important;
    --secondary-purple-500: #95A4FC !important;
    --secondary-purple-400: #C6C7F8 !important;
}