@import url('./colors-guide.css');
@import url('./modern-normalize.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black-tints-500);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5; 
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

#app {
  min-height: 100vh;
  background-color: var(--black-tints-500);
}

.container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 0 1rem;
  flex-grow: 1;
  background-color: var(--black-tints-500);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 24px;
  }
}